{% assign links = site.data.navs[page.version] %}

<div class='Docs-page-nav'>
  {% for link in links %}
    {% if forloop.first %}{% continue %}{% endif %}
    {% capture path %}{{ site.baseurl}}/docs/{{ page.version }}/{% if link.path %}{{ link.path }}{% else %}{{ link.label | slugify }}/{% endif %}{% endcapture %}
    {% if page.url == path %}
      {% assign prev_i = forloop.index0 | minus: 1 %}
      {% assign prev_link = links[prev_i] %}
      {% if prev_link %}
        {% capture prev_path %}{{ site.baseurl}}/docs/{{ page.version }}/{% if prev_link.path %}{{ prev_link.path }}{% else %}{{ prev_link.label | slugify }}/{% endif %}{% endcapture %}
  
         <a class="Docs-page-nav__link u-first" href="{{ prev_path }}">< {{ prev_link.label }}</a>
      {% endif %}
  
    {% endif %}
  
  {% endfor %}
  
  {% for link in links %}
    {% if forloop.last %}{% continue %}{% endif %}
    {% capture path %}{{ site.baseurl}}/docs/{{ page.version }}/{% if link.path %}{{ link.path }}{% else %}{{ link.label | slugify }}/{% endif %}{% endcapture %}
    {% if page.url == path %}
      {% assign next_i = forloop.index0 | plus: 1 %}
      {% assign next_link = links[next_i] %}
      {% if next_link %}
        {% capture next_path %}{{ site.baseurl}}/docs/{{ page.version }}/{% if next_link.path %}{{ next_link.path }}{% else %}{{ next_link.label | slugify }}/{% endif %}{% endcapture %}
  
         <a class="Docs-page-nav__link u-last" href="{{ next_path }}">{{ next_link.label }} ></a>
      {% endif %}
  
    {% endif %}
  
  {% endfor %}
</div>
