<footer class="Footer">
  <div class="Container Grid Grid--gutters Grid--full med-Grid--fit">
    <div class="Grid-cell">
      <p>Project and site maintained by <a href="https://twitter.com/samselikoff">Sam Selikoff</a> and <a href="https://github.com/samselikoff/ember-cli-mirage/graphs/contributors">contributors</a>.</p>
    </div>
    <div class="Grid-cell">
      <div class="Github-stars">
        <iframe src="https://ghbtns.com/github-btn.html?user=samselikoff&repo=ember-cli-mirage&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/1.1.1/anchor.min.js"></script>
<script>
  /* global anchors */
  // anchors.options = {
  //   placement: 'left',
  //   visible: 'always'
  // };
  anchors.add('h2:not(.Home-page__feature-heading)');
</script>
