{% for version in site.data.navs %}
  {% if forloop.first %}
    {% assign latest = version[0] %}
  {% endif %}
{% endfor %}

<header class="Header">
  <div class="Container">
    <nav class='Header__nav'>
      <ul class='Header__nav-list'>
        <li class='Header__nav-item'>
          <a href='{{ site.baseurl }}/' class="Header__nav-item-link {% if page.url == '/' %}active{% endif %}">Home</a>
        </li>
        <li class='Header__nav-item'>
          <a href='{{ site.baseurl }}/docs/{{latest}}' class="Header__nav-item-link{% if page.url contains '/docs' %} active{% endif %}">Docs</a>
        </li>
        <li class='Header__nav-item'>
          <a href='{{ site.baseurl }}/about' class="Header__nav-item-link{% if page.url contains '/about' %} active{% endif %}">About</a>
        </li>
        <li class='Header__nav-item'>
          <a href="{{ site.url }}" class='Header__nav-item-link' target="_blank">GitHub</a>
        </li>
      </ul>
    </nav>
    <a class="Header__logo" href="{{ site.baseurl }}/">
      <span class='Header__logo-minor'>Ember CLI</span><br>
      <span class='Header__logo-major'>Mirage</span>
    </a>
  </div>
</header>
