<header class="Header">
  <div class="Container">
    <nav class='Header__nav'>
      <ul class='Header__nav-list'>
        <li class='Header__nav-item'>
          <a href='{{ site.baseurl }}/docs/{{site.default_version}}' class="Header__nav-item-link{% if page.url contains '/docs' %} active{% endif %}">
            <span class="u-mobile">Docs</span>
            <span class="u-desktop">Documentation</span>
          </a>
        </li>
        <li class='Header__nav-item'>
          <a href='{{ site.baseurl }}/blog' class="Header__nav-item-link{% if page.url contains '/blog' %} active{% endif %}">Blog</a>
        </li>
        <li class='Header__nav-item'>
          <a href='{{ site.baseurl }}/about' class="Header__nav-item-link{% if page.url contains '/about' %} active{% endif %}">About</a>
        </li>
        <li class='Header__nav-item'>
          <a href="{{ site.url }}" class='Header__nav-item-link' target="_blank">GitHub</a>
        </li>
      </ul>
    </nav>
    <a class="Header__logo" href="{{ site.baseurl }}/">
      <span class='Header__logo-minor'>Ember CLI</span><br>
      <span class='Header__logo-major'>Mirage</span>
    </a>
  </div>
</header>
