<li class='sidebar-nav-section'>Getting started</li>
<li><a class="sidebar-nav-item{% if page.url contains '/overview' %} active{% endif %}" href="{{site.baseurl}}/docs/overview">Overview</a></li>
<li><a class="sidebar-nav-item" href="#">FAQ</a></li>

<li class='sidebar-nav-section'>Writing your server</li>
<li><a class="sidebar-nav-item" href="#">Defining routes</a></li>
<li><a class="sidebar-nav-item" href="#">Using shorthands</a></li>
<li><a class="sidebar-nav-item" href="#">Function and object handler</a></li>
<li><a class="sidebar-nav-item" href="#">Interacting with your Database</a></li>
<li><a class="sidebar-nav-item" href="#">Factories</a></li>
<li><a class="sidebar-nav-item" href="#">Fixtures</a></li>
<li><a class="sidebar-nav-item" href="#">Acceptance testing</a></li>

<li class='sidebar-nav-section'>API reference</li>
<li><a class="sidebar-nav-item" href="#">Server configuration</a></li>
<li><a class="sidebar-nav-item" href="#">Routes</a></li>
<li><a class="sidebar-nav-item" href="#">Database</a></li>
<li><a class="sidebar-nav-item" href="#">Factory</a></li>
