// Poole overrides
html {
  font-size: 18px;
  line-height: 1.4;
  background-color: $dark-blue;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-top: 5px solid $highlight-color;
}
.content {
  padding-top: 0;
  @include above(48em) {
    margin-right: 0;
    margin-left: 18rem;
  }
}
.container {
  max-width: 960px;
}

// Other
pre {
  word-wrap: normal;
  white-space: pre;
  overflow-x: auto;
}
