.Content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
// from Hyde
.content {
  max-width: none;
  @include below($breakpoint) {
    margin: 0;
  }
}
pre code::before,
pre code::after {
  content: '';
}
