// Hyde/Poole
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: transparent;
}
.content {
  max-width: none;
  padding-bottom: 0;
  @include below($breakpoint) {
    margin: 0;
  }
}
pre code::before,
pre code::after {
  content: '';
}
