.sidebar {
  background-color: transparent;
  color: $sidebar-text;
  text-align: left;

  @include above($breakpoint) {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    position: absolute;
  //   left: calc((100vw - 960px)/2);
  }
}
.sidebar-about {
  background-color: white;
  color: $sidebar-main;
  margin-top: -2rem;
  margin-left: -2rem;
  margin-right: -2rem;
  padding: 3rem 2rem 2rem;

  @include above($breakpoint) {
    background-color: transparent;
    margin: 0;
    padding: 0;
  }

  h1,
  a {
    color: $sidebar-text-inverse;
    font-size: 3.25rem;
    line-height: 1;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    margin-bottom: 0.3rem;

    @include above($breakpoint) {
      color: $sidebar-text;
      font-size: 1.5rem;
    }
  }
  
  .lead {
    color: $sidebar-text-inverse-subtle;
    line-height: 1.3;

    @include above($breakpoint) {
      font-size: 0.9rem;
      color: $sidebar-text-subtle;
    }
  }
}
.sidebar-nav {
  margin-bottom: 0;
  list-style-type: none; 
  padding-left: 0;
  line-height: 1.5;
}
.sidebar-nav-section {
  color: $sidebar-text-subtle;
  margin-bottom: 0.2em;
  border-bottom: 1px solid rgba($sidebar-text-subtle, 0.2);
  font-size: 18px;
  &:not(:first-child) {
    margin-top: 0.9em;
  }
}
.sidebar-nav-item,
a.sidebar-nav-item {
  display: inline-block;
  // margin-top: 0.3em;
  // margin-bottom: 0.3em;
  color: $sidebar-link;
  padding-left: 0.4em;
  padding-right: 0.4em;
  border-radius: 4px;
  line-height: 1;
  // opacity: 0.7;
  @include transition(all 0.15s);
  @include above($breakpoint) {
    // font-size: 0.9rem; 
    font-size: 16px;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $link-active;
    // opacity: 1;
  //   background-color: darken($sidebar-main, 8%);
  //   box-shadow: inset 0 1px 3px rgba(0,0,0,0.5),0 1px 0 rgba(255,255,255,0.1);
  //   text-shadow: 0 1px 3px rgba(0,0,0,0.5);
  }


  &.active {
    color: $link-active;
    // opacity: 1;
    font-weight: normal;
  //   background-color: white;
  //   color: $sidebar-main;
  //   box-shadow: inset 0 1px 0 rgba(255,255,255,0.5),0 1px 5px rgba(0,0,0,0.5);
  //   text-shadow: 0 1px 0 rgba(255,255,255,0.3);
  }
}
