.u-text-center {
  text-align: center;
}
.u-hidden-sm {
  @include below($small-breakpoint) {
    display: none !important;
  }
}
.u-inverted,
.u-inverted h1,
.u-inverted h2,
.u-inverted h3,
.u-inverted h4,
.u-inverted h5,
.u-inverted p,
.u-inverted a {
  color: white;
  border-color: white;
}
.u-callout {
  margin-left: 30px;
}
.u-last {
  margin-left: auto;
}
.u-first {
  margin-right: auto;
}
.u-pull-right {
  float: right;
}
.u-mobile {
  @include above($desktop-breakpoint) {
    display: none !important;
  }
}
.u-desktop {
  display: none !important;

  @include above($desktop-breakpoint) {
    display: initial !important;
  }
}
.fixed-ratio {
  position: relative;
  padding-top: 62.25%;  // Video height / width.
  height: 0;
}
.fixed-ratio-inner {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.fixed-ratio-video {
  padding-top: 56.25%;  // Video height / width.
}
.fixed-ratio-slides {
  padding-top: 72.916%;  // Video height / width.
}
