/*
  Breakpoints
*/
$small-breakpoint: 568px;
$breakpoint: 48em;
$large-breakpoint: 1200px;

/*
  Colors
*/
// Light theme
// $link-color: #FF522A;
// $link-active: #FF522A; // red/orange
// $sidebar-main: whitesmoke;
// $sidebar-text: #333;
// $sidebar-link: #333;
// $sidebar-text-subtle: #666;
// $sidebar-text-inverse: #333;
// $sidebar-text-inverse-subtle: #666;

// Dark theme
$red: #FF522A;
$dark-blue: #263249;
$light-blue: #3D759D;
$yellow: #FFCD00;
$orange: #FF9900;

$main-color: $dark-blue;
$highlight-color: $red;

$link-color: $light-blue;
$link-active: $highlight-color;
$sidebar-text: #fff;
$sidebar-main: $main-color;
$sidebar-link: rgba(white, 0.9);
$sidebar-text-subtle: #7E8AA3;
$sidebar-text-inverse: $sidebar-text;
$sidebar-text-inverse-subtle: rgba($sidebar-text, 0.5);
