/*
  Breakpoints
*/
$small-breakpoint: 568px;
$breakpoint: 768px;
$large-breakpoint: 1200px;

/*
  Colors
*/
$red: #FF522A;
$dark-blue: #263249;
$light-blue: #3D759D;
$yellow: #FFCD00;
$orange: #FF9900;

$main-color: $dark-blue;
$highlight-color: $red;

$link-color: $light-blue;
$link-active: $highlight-color;
$sidebar-text: #fff;
$sidebar-main: $main-color;
$sidebar-link: rgba(white, 0.9);
$sidebar-text-subtle: #7E8AA3;
$sidebar-text-inverse: $sidebar-text;
$sidebar-text-inverse-subtle: rgba($sidebar-text, 0.5);
