<h1>{{model.name}}</h1>

{{! wrapping in a div seems to work around https://github.com/ember-learn/ember-cli-addon-docs/issues/7 }}
<div>{{{model.description}}}</div>

{{#each model.methods as |method|}}
  {{#if method.description}}
    <h3>{{method.name}}</h3>
    {{{method.description}}}
  {{/if}}
{{/each}}
