.About {
  background-color: white;
  margin-top: 20px;
  @include above($breakpoint) {
    margin-top: 0;
    background-color: transparent;
  }

  &__section {
    padding: 20px;
    @include above($breakpoint) {
      padding: 0;
      padding-right: 20px;
      margin-bottom: 20px;
      @include flexbox;
    }
  }

  &__heading {
    margin-top: 0;
    font-size: 27px;
    @include above($breakpoint) {
      @include flex(0 0 280px);
      color: white;
      text-align: right;
      padding-right: 20px;
      margin-top: 15px;
    }
  }
  &__content {
    @include above($breakpoint) {
      @include flex();
      @include white-panel;
    }
  }

}
