.Blog {
  background-color: white;
  margin-top: 20px;
  @include above($breakpoint) {
    margin-top: 0;
    background-color: transparent;
  }

  &__post {
    padding: 20px;
    @include above($breakpoint) {
      padding: 0;
      padding-right: 20px;
      margin-bottom: 20px;
      @include flexbox;
    }
  }
  &__post-info {
    @include above($breakpoint) {
      @include flex(0 0 280px);
      padding-right: 20px;
      margin-top: 15px;
      text-align: right;
    }
  }
  &__title {
    margin-top: 0;
    font-size: 24px;

    @include above($breakpoint) {
      color: white;
      a {
        @include transition(all 0.15s);

        color: white;
        border-bottom-color: #aaa;

        &:hover {
          border-bottom-color: white;
        }
      }
    }
  }
  &__byline {
    font-size: 12px;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 7px;
    color: #777;
    @include above($breakpoint) {
      color: #ccc;
    }
  }
  &__divider {
    border-top-color: #ccc;
    border-top-style: dashed;
    border-bottom: none;
    margin-top: 0;
    @include above($breakpoint) {
      display: none;
    }
  }
  &__content {
    @include above($breakpoint) {
      @include flex();
      @include white-panel;
    }
  }

}
