.Browser {
  text-align: center;

  &__window {
    display: inline-block;
    text-align: left;
    width: 100%;

    &:before {
      height: 1.6875em;
      width: 100%;
      background: #dedede url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+Cjxzdmcgd2lkdGg9IjU4cHgiIGhlaWdodD0iMTRweCIgdmlld0JveD0iMCAwIDU4IDE0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHhtbG5zOnNrZXRjaD0iaHR0cDovL3d3dy5ib2hlbWlhbmNvZGluZy5jb20vc2tldGNoL25zIj4KICA8dGl0bGU+Y29sb3JmdWwgb2JqZWN0czwvdGl0bGU+CiAgPGcgaWQ9Ik1pZGRsZW1hbi12NC0tLUxhbmRpbmd2MiIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc2tldGNoOnR5cGU9Ik1TUGFnZSI+CiAgICA8ZyBpZD0iRHJhZnQtdjIiIHNrZXRjaDp0eXBlPSJNU0FydGJvYXJkR3JvdXAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMjEuMDAwMDAwLCAtNTEwLjAwMDAwMCkiPgogICAgICA8ZyBpZD0iU2VjdGlvbi0tLUhlcm8iIHNrZXRjaDp0eXBlPSJNU0xheWVyR3JvdXAiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0xLjAwMDAwMCwgMC4wMDAwMDApIj4KICAgICAgICA8ZyBpZD0iQmFubmVyLVRlcm1pbmFsIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMTAuMDAwMDAwLCA1MDAuMDAwMDAwKSIgc2tldGNoOnR5cGU9Ik1TU2hhcGVHcm91cCI+CiAgICAgICAgICA8ZyBpZD0iY29sb3JmdWwtb2JqZWN0cyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTMuMDAwMDAwLCAxMC4wMDAwMDApIj4KICAgICAgICAgICAgPGVsbGlwc2UgaWQ9Im9iamVjdC0yIiBmaWxsPSIjRDE2ODY4IiBjeD0iNi42MDQ1NzU1MiIgY3k9IjYuOTMzMzU5NzQiIHJ4PSI2Ljk2NDU2NzM5IiByeT0iNi44NDUwODU3Ij48L2VsbGlwc2U+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0yNy45NjI1ODIyLDEzLjc3ODQ0NTQgQzMxLjgwOTAwNjYsMTMuNzc4NDQ1NCAzNC45MjcxNDk2LDEwLjcxMzc5NjIgMzQuOTI3MTQ5Niw2LjkzMzM1OTc0IEMzNC45MjcxNDk2LDMuMTUyOTIzMyAzMS44MDkwMDY2LDAuMDg4Mjc0MDQ0OCAyNy45NjI1ODIyLDAuMDg4Mjc0MDQ0OCBDMjQuMTE2MTU3OCwwLjA4ODI3NDA0NDggMjAuOTk4MDE0OCwzLjE1MjkyMzMgMjAuOTk4MDE0OCw2LjkzMzM1OTc0IEMyMC45OTgwMTQ4LDEwLjcxMzc5NjIgMjQuMTE2MTU3OCwxMy43Nzg0NDU0IDI3Ljk2MjU4MjIsMTMuNzc4NDQ1NCBaIiBpZD0ib2JqZWN0LTIiIGZpbGw9IiNENEM2MzciPjwvcGF0aD4KICAgICAgICAgICAgPGVsbGlwc2UgaWQ9Im9iamVjdC0yIiBmaWxsPSIjNUFCNTQxIiBjeD0iNDkuMzIwNTg4OSIgY3k9IjYuOTMzMzU5NzQiIHJ4PSI2Ljk2NDU2NzM5IiByeT0iNi44NDUwODU3Ij48L2VsbGlwc2U+CiAgICAgICAgICA8L2c+CiAgICAgICAgPC9nPgogICAgICA8L2c+CiAgICA8L2c+CiAgPC9nPgo8L3N2Zz4K') no-repeat 0.5em 0.5em;
      border-radius: 3px 3px 0 0;
      content: "";
      display: block;
    }

    @include above($small-breakpoint) {
      width: 65%;
    }
  }

  &__body {
    background-color: white;
    font-weight: 700;
    margin: 0;

    padding: 3em 1em 4em;
  }

  &__code {
    font-weight: normal;
    font-size: 13px;
    color: #333;

    @include above($breakpoint) {
      font-size: 14px;
    }

    .prompt {
      color: #bbb;
    }
  }
}
