.Callout {
  background-color: white;
  padding: 20px 20px;
  margin-bottom: 10px;
  color: #777;
  font-size: 14px;

  @include above($breakpoint) {
    border-radius: 4px;
    margin-right: 20px;
  }

  p {
    margin-bottom: 0;
  }
}
