.Desktop-nav {
  @extend .u-desktop;

  &__toc {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.5;
  }

  &__section {
    color: $sidebar-text-subtle;
    margin-bottom: 0.2em;
    border-bottom: 1px solid rgba($sidebar-text-subtle, 0.2);
    font-size: 18px;
    &:not(:first-child) {
      margin-top: 0.9em;
    }
  }
  &__version {
    margin-bottom: 35px;
    opacity: 0.7;
    @include transition(all, 0.15s);
    &:hover {
      opacity: 1;
    }
  }
  &__version-select {
    font-size: 1em;
  }
  &__item {
    color: $sidebar-link;
    padding-left: 0.4em;
    padding-right: 0.4em;
    border: none;
    line-height: 1;
    @include transition(all 0.15s);
    @include above($breakpoint) {
      font-size: 16px;
    }

    &:hover,
    &:focus,
    &.active {
      color: $link-active;
    }
  }
}
