.Docs-page {
  @include white-panel;
  margin-bottom: 40px;

  @include above($breakpoint) {
    margin-left: 0;
    margin-right: 20px;
  }

  h2 {
    font-size: 17px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #333;
  }

  h3 {
    font-size: 15px;
    color: #333;
    border-top: 1px solid #eee;
    padding-top: 15px;
  }

  &__version {
    text-align: right;
    font-size: 14px;
    color: #999;
    float: right;
    margin-left: 20px;
    margin-top: 10px;
    select {
      font-size: 16px;
    }
  }
  &__title {
    margin-top: 0;
    margin-bottom: 15px;
  }

  &__content {
  }
  &__improve {
    color: #999;
    border: none;

    &:hover {
      color: $link-color;
      // border-color: lighten($link-color, 40%);
    }
  }
  &__improve-img {
    height: 8px;
  }
  &__improve-text {
    // border-bottom: 1px solid #bbb;
    padding-bottom: 1px;
  }

  &__aside {
    float: right;
    color: #999;
    padding-top: 4px;
    padding-bottom: 8px;
    margin-left: 40px;
    font-size: 0.8em;
    max-width: 180px;

    @include below($breakpoint) {
      display: none;
    }

    p {
      margin-bottom: 0;
    }
  }

}
