.Docs-page {
  background-color: white;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 4px;
  max-width: none;
  margin-left: 10px;
  margin-right: 10px;

  @include above($breakpoint) {
    margin-left: 0;
    margin-right: 20px;
  }

  h2 {
    font-size: 17px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #333;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 15px;
  }

  &__content {
    a {
      color: $link-color;
      border-bottom: 1px solid rgba($link-color, 0.3);
      @include transition(all, .15s);

      &:hover {
        text-decoration: none;
        border-bottom-color: $link-color;
      }
    }
  }

  &__aside {
    float: right;
    color: #999;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 40px;
    font-size: 0.8em;
    max-width: 180px;

    @include below($breakpoint) {
      display: none;
    }

    p {
      margin-bottom: 0;
    }
  }

}
