.Docs-page-nav {
  margin-top: 40px;
  margin-bottom: 10px;
  @include flexbox;

  &__link {
    color: $light-blue;
    font-weight: 700;
    padding: 5px 11px;
    font-size: 14px;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #D2D2D2;
    @include transition(all, 0.15s);
    border-color: lighten($light-blue, 40%);

    &:hover {
      text-decoration: none;
      // box-shadow: 0 2px 2px 2px rgba(0,0,0,0.1);
      border-color: $light-blue;
    }

  }
}
