.Docs-page {
  background-color: white;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 4px;
  max-width: none;
  margin-left: 10px;
  margin-right: 10px;

  @include above($breakpoint) {
    margin-left: 0;
    margin-right: 20px;
  }

  h2 {
    font-size: 17px;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #333;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 15px;
  }

  &__aside {
    float: right;
    color: #999;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 40px;
    font-size: 0.8em;
    max-width: 180px;

    @include below($breakpoint) {
      display: none;
    }

    p {
      margin-bottom: 0;
    }
  }

  &__footer-nav {
    text-align: center;
  }
  .content &__footer-nav-link,
  &__footer-nav-link {
    border-radius: 4px;
    border: none;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    text-decoration: none;
    background-color: $highlight-color;
    color: white;
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
    @include transition(all, 0.15s);

    @include above($small-breakpoint) {
      padding: 5px 12px;
      width: auto;
    }

    &:hover {
      box-shadow: inset 0 1px 3px rgba(0,0,0,0.5),0 1px 0 rgba(255,255,255,0.1);
    }
  }
}
