.Home-page {

  &__tagline {
    font-size: 36px;
    font-weight: 100;
    text-align: center;
    margin-top: 1.2em;
    line-height: 1.2;

    @include above($small-breakpoint) {
      text-align: left;
      font-size: 66px;
      line-height: 1.1;
      margin-top: 0.8em;
    }
  }
}
