.Home-page {
  font-weight: 300;

  &__tagline {
    font-size: 36px;
    font-weight: 100;
    text-align: center;
    margin-top: 1.2em;
    line-height: 1.2;

    @include above($small-breakpoint) {
      text-align: left;
      font-size: 66px;
      line-height: 1.1;
      margin-top: 0.8em;
    }
  }

  &__features {
    line-height: 1.5;
    margin-top: 2em;
    @include above($breakpoint) {
      margin-top: 3em;
    }
  }
  &__feature-heading {
    font-size: 28px;
    font-weight: 500;
    opacity: 0.9;
    margin-bottom: 10px;
    @include above($breakpoint) {
      margin-bottom: 20px;
    }
  }
  &__feature-section {
    font-size: 18px;
  }

  &__button {
    padding: 0.7em 1.6em;
    font-size: 17px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    cursor: pointer;
    @include transition(all, 0.1s);

    &:hover {
      background-color: white;
      color: $dark-blue;
    }
  }
}
