@mixin shimmer() {
  padding: 0 140px 0 0;
  color: rgba(255,255,255,0.05);
  @include linear-gradient(left top, right top, $red);
  @include background-size(125px, 100%);
  @include background-clip(text);
  @include animation-name(shimmer);
  @include animation-duration(0.3s);
  @include animation-delay(0.3s);
  @include animation-count(1);

  background-repeat: no-repeat;
  background-position: 100% 0;
  background-color: $red;
}

@include keyframes(shimmer) {
  0%   { background-position: top left; }
  100% { background-position: top right; }
}
