<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>
    <div class="Topbar">
      <div class="Container">
        <p>Want to give back to Mirage? Consider <a href="https://www.indiegogo.com/projects/ember-cli-mirage-logo-design">donating</a> to our IndieGoGo campaign!</p>
      </div>
    </div>

    {% include header.html %}

    <div class="Wrapper">
      <div class="Content">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>
</html>
