<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

    <header class="Header">
      <div class="Header__inner">
        <a class="Header__link" href="{{ site.baseurl }}/">Ember CLI Mirage</a>
        <ul class='Header__internal-nav'>
          <li><a href='{{ site.baseurl }}/docs' class="{% if page.url contains '/docs' %} active{% endif %}">Docs</a></li>
          <li><a href="">Support</a></li>
        </ul>
        <ul class='Header__external-nav'>
          <li><a href="">GitHub</a></li>
        </ul>
      </div>
    </header>

    <div class="Content">
      {{ content }}
    </div>

  </body>
</html>
