---
layout: default
---

<div class="sidebar">
  <ul class="sidebar-nav">
    <!-- <select name="" id="">
      <option value="">Latest</option>
    </select> -->

    <!-- {% include_relative sidebar-links.html %} -->

    {% for link in site.data.navs.latest %}
      {% if link.section %}
        <li class='sidebar-nav-section'>{{ link.section }}</li>
      {% endif %}
      {% if link.path %}
        {% include sidebar-link.html path=link.path label=link.label %}
      {% else %}
        {% include sidebar-link.html label=link.label %}
      {% endif %}
    {% endfor %}
  </ul>
</div>


<div class="content">
  <div class="Docs-page">
    <h1 class='Docs-page__title'>{{ page.title }}</h1>

    <div class='Docs-page__content'>
      {{ content }}
    </div>

    <div class="Docs-page__footer-nav">
      {% include footer-nav.html %}
    </div>
  </div>
</div>
