---
layout: default
---

{% assign links = site.data.navs[page.version] %}

<div class="Side-panel">

  <div class="Mobile-nav">
    <select class="Mobile-nav__toc" onchange="if (this.value) window.location.href=this.value">
      <option value="">Navigate the docs...</option>
      {% for link in links %}
        {% include mobile-nav-link.html path=link.path label=link.label %}
      {% endfor %}
    </select>

    <div class="Mobile-nav__version">
      <span class='Mobile-nav__version-label'>Version: </span>
      <select class='Mobile-nav__version-select' onchange="if (this.value) window.location.href=this.value">
        {% for version in site.data.navs %}
          <option value="{{ site.baseurl}}/docs/{{ version[0] }}" {% if version[0] == page.version %}selected {% endif %}>{{version[0]}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="Desktop-nav">
    <div class="Desktop-nav__version">
      <span class="Desktop-nav__version-label">Version: </span>
      <select class='Desktop-nav__version-select' onchange="if (this.value) window.location.href=this.value">
        {% for version in site.data.navs %}
        <option value="{{ site.baseurl}}/docs/{{ version[0] }}" {% if version[0] == page.version %}selected {% endif %}>{{version[0]}}</option>
        {% endfor %}
      </select>
    </div>

    <ul class="Desktop-nav__toc">
      {% for link in links %}
        {% if link.section %}
          <li class='Desktop-nav__section'>{{ link.section }}</li>
        {% endif %}

        {% include desktop-nav-link.html link=link %}
      {% endfor %}
    </ul>
  </div>
</div>


<div class="Center-panel">

  {% if page.version contains 'v0.2.0-beta' %}
    <div class="Callout">
      <p>v0.2.0 has been released. Please look through the breaking changes in the <a href="https://github.com/samselikoff/ember-cli-mirage/blob/master/CHANGELOG.md">changelog</a> and upgrade your project.</p>
    </div>
  {% endif %}

  <div class="Docs-page">
    <div class='Docs-page__header'>
      <div class="Docs-page__version">
        <a class='Docs-page__improve' href="https://github.com/samselikoff/ember-cli-mirage/edit/gh-pages/{{page.path}}">
          <small>
            <img class='Docs-page__improve-img' src="{{ site.baseurl}}/public/images/edit.png" alt="">
            <span class='Docs-page__improve-text'>Improve this page</span>
          </small>
        </a>
      </div>
      <h1 class='Docs-page__title'>{{ page.title }}</h1>
    </div>

    <div class='Docs-page__content'>
      {{ content }}
    </div>

    {% include docs-page-nav.html %}
  </div>
</div>
