---
layout: default
---

<div class="Side-panel">
  <ul class="Side-panel__nav">
    <!-- <select name="" id="">
      <option value="">Latest</option>
    </select> -->

    {% for link in site.data.navs.latest %}
      {% if link.section %}
        <li class='Side-panel__nav-section'>{{ link.section }}</li>
      {% endif %}
      {% if link.path %}
        {% include sidebar-link.html path=link.path label=link.label %}
      {% else %}
        {% include sidebar-link.html label=link.label %}
      {% endif %}
    {% endfor %}
  </ul>
</div>


<div class="Center-panel">
  <div class="Docs-page">
    <h1 class='Docs-page__title'>{{ page.title }}</h1>

    <div class='Docs-page__content'>
      {{ content }}
    </div>

    {% include docs-page-nav.html %}
  </div>
</div>
