<h2 id="title">Welcome to Ember</h2>

{{#if this.wifi.isConnected}}
  <p data-test-id="wifi-connected">We ran the initializer</p>
{{/if}}

<p>
  Mirage modules in project:
  <span data-test-id="mirage-module-count">
    {{this.mirageModules.length}}
  </span>
</p>

<p>
  Other modules in project:
  <span data-test-id="other-module-count">
    {{this.otherIncludedModules.length}}
  </span>
</p>
