.Content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  @include flexbox;
  @include flex-direction(column);
  
  @include above($breakpoint) {
    @include flex-direction(row);
    @include flex;
    max-width: $max-width;
  }
}
